<div class="row">
    <div class="well col-md-6 col-md-offset-3">
        <form method="post" action="/simcha/addSimcha">
            <input type="text" class="form-control" placeholder="Simcha Name" name="Name" />
            <br />
            <input type="date" class="form-control" placeholder="Date" name="Date" />
            <br />
            <button class="btn btn-success">Add Simcha</button>
        </form>
    </div>
</div>